<h1>My Blog Posts</h1>
<div>
	<% @posts.each do |post| %>
	<tr>
	<td><%= post.title %></td><br>
	<td><%= post.text %></td><br>
	<td><%= link_to 'Edit', edit_post_path(post) %></td><br>
	</tr>
	<% end %>
</div>